@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:ital@1&display=swap');

.awesome-section {

display: flex;
flex-direction: column;
  margin: auto;
  padding: 10px 170px 60px 170px;
  height: 665px;
}

.awesome-head {
  display: flex;
  flex-direction: column;
 align-items: center;
 justify-content: center;
}

.awesome-head .awesome-header {
  font-family: "Raleway";
  font-size: 36px;
  text-align: center;
}

.awesome-head .dash {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 40px;
  height: 1px;
  width: 170px;
  background-color: #EC7979;
}

.awesome-caption {
  height: 21px;
  width: 100%;
  font-family: "Raleway";
  color: gray;
  text-align: center;
}


.section-awesome-items {
  margin-top: 70px;
  height: 400px;
  display: flex;
}

.section-awesome-item {
  width: 370px;
  height: 383px;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  padding: 39px 0px 0px 0px;

}

.section-awesome-margin-items {
  margin-right: 30px;
}

img.awesome-pic {
  display:flex;
  margin-left: auto;
  margin-right: auto
}

.section-awesome-item-title {
  margin-top: 39px;
  width: 100%;
  height: 100px;
  display: block;
  padding-top: 12px;
}

.section-awesome-item-title div {
  text-align: center;
  font-size: 26px;
}

.section-awesome-item-article {
  margin-top: 8px;
  max-width: 370px;
  height: 105px;
  display: flex;
  justify-content: center;
  padding-left: 8px;
}

.section-awesome-item-article div {
  font-family: "Raleway";
  line-height: 21px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}